<div class="cases" id="cases">
  <div class="cases__container">
    <h2 class="section-title cases__title">Кейсы</h2>
    <ul class="cases__info">
      <li><a href="#"><img src="../img/cases/сrypton.png" alt="logo crypton" width="200px" height="100px"/></a></li>
      <li><a href="#"><img src="../img/cases/mono-logo.png" alt="logo mono"/></a></li>
      <li><a href="#"><img src="../img/cases/next-logo.png" alt="logo next!"/></a></li>
      <li><a href="#"><img src="../img/cases/batova-logo.png" alt="logo batova"/></a></li>
      </ul>
  </div>
</div>
