<section class="hero">

  <div class="hero__overlay">
    <div class="overlay"></div>
    <div id="parallax-container" class="hero__gallery">
    <img class="layer bg-img-1" data-speed="-5"  src="../img/img-0.jpg" alt="gallery-image"/>
    <img class="layer bg-img-2" data-speed="2" src="../img/img-1.jpg" alt="gallery-image"/>
    <img class="layer bg-img-3" data-speed="6"  src="../img/img-2.jpg" alt="gallery-image"/>
    <img class="layer bg-img-4" data-speed="-2" src="../img/img-3.jpg" alt="gallery-image"/>
    <img class="layer bg-img-5" data-speed="4"  src="../img/img-4.jpg" alt="gallery-image"/>
    <img class="layer bg-img-6" data-speed="-9"   src="../img/img-5.jpg" alt="gallery-image"/>
  </div>
  </div>

  <div class="container hero__container">
    <div class="menu">
      <div id="menu-button" class="menu-button">
        <div class="rotated"></div>
      </div>
      <div class="square"></div>
    </div>

    <a class="hero__logo" href="/">
      <img src="../img/main-logo.png" alt="main logo"/>
    </a>

    <div class="hero__contacts">
      <a class="hero__contacts--phone" href="tel:+74957904456">+7 495 790 44 56</a>
      <a class="hero__contacts--email" href="mailto:mailbox@master-shelt.com">mailbox@master-shelt.com</a>
    </div>

  <h1 class="hero__title">больше, чем просто<br> <span>программное обеспечение</span></h1>
    <button class="hero__btn btn-reset cta-btn"></button>
  </div>
</section>
