<section class="partners" id="partners">
    <div class="partners__banner">
      <picture>
        <source srcset="../img/partners/partners-banner.avif" type="image/avif">
        <source srcset="../img/partners/partners-banner.webp" type="image/webp">
        <img loading="lazy" src="../img/partners/partners-banner.jpg" class="partners__banner--img"
             alt="фото наших партнеров">
      </picture>
    </div>
  <div class="partners__container">
    <div class="partners__content">
        <h2 class="section-title partners__title">Наши партнеры</h2>
        <a class="btn-reset cta-btn partners__btn" href="#contact-form" data-scroll></a>
        <ul class="partners__list">
          <li class="partners__list--item">
            <picture>
              <source srcset="../img/partners/sber-logo.avif" type="image/avif">
              <source srcset="../img/partners/sber-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/sber-logo.png" class="partners__img"
                   alt="логотип сбербанк">
            </picture>
          </li>
          <li class="partners__list--item">
            <picture>
              <source srcset="../img/partners/bitrix-logo.avif" type="image/avif">
              <source srcset="../img/partners/bitrix-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/bitrix-logo.png" class="partners__img"
                   alt="логотип битрикс">
            </picture>
          </li>
          <li class="partners__list--item">
            <picture>
              <source srcset="../img/partners/sovcombank-logo.avif" type="image/avif">
              <source srcset="../img/partners/sovcombank-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/sovcombank-logo.png" class="partners__img"
                   alt="логотип совкомбанк">
            </picture>
          </li>
          <li class="partners__list--item">
            <picture>
              <source srcset="../img/partners/amocrm-logo.avif" type="image/avif">
              <source srcset="../img/partners/amocrm-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/amocrm-logo.png" class="partners__img"
                   alt="логотип amoCRM">
            </picture>
          </li>
        </ul>
    </div>
  </div>
</section>
