<section class="services">
  <div class="services__banners">
    <div class="services__banners--track">
      <div class="services__banner">
        <img src="../img/services/services-slide-1.jpg" alt=""/>
      </div>
      <div class="services__banner">
        <img src="../img/services/services-slide-2.jpg" alt=""/>
      </div>
      <div class="services__banner">
        <img src="../img/services/services-slide-3.jpg" alt=""/>
      </div>
      <div class="services__banner">
        <img src="../img/services/services-slide-4.jpg" alt=""/>
      </div>
      <div class="services__banner">
        <img src="../img/services/services-slide-1.jpg" alt=""/>
      </div>
      <div class="services__banner">
        <img src="../img/services/services-slide-2.jpg" alt=""/>
      </div>
      <div class="services__banner">
        <img src="../img/services/services-slide-3.jpg" alt=""/>
      </div>
      <div class="services__banner">
        <img src="../img/services/services-slide-4.jpg" alt=""/>
      </div>
    </div>
  </div>
  <div class="services__container">
    <span class="services__text">Мы создаем:</span>
    <ul class="services__items">
      <li class="services__item">Сложные сайты</li>
      <li class="services__item">CRM-системы</li>
      <li class="services__item">ERP-системы</li>
      <li class="services__item">Приложения</li>
      <li class="services__item">Собственное ПО</li>
    </ul>
  </div>
</section>
